:host ::ng-deep .p-inputnumber-button-up,
:host ::ng-deep .p-inputnumber-button-down {
    border: none;
    background-color: #EE7214;
    width: 80%;
   
}

::ng-deep .input-styling input  {
    width: 50% !important;
}


.cart{
   &-item{
    background-color: aliceblue;
   }
}
.title {
    margin-bottom: 5vh;
}

.card {
    margin: auto;
    max-width: 950px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
}

@media(max-width:767px) {
    .card {
        margin: 3vh auto;
    }
}

.cart {
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

@media(max-width:767px) {
    .cart {
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}

.summary {
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: white;
    background-color: #ee721493;
}

@media(max-width:767px) {
    .summary {
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem;
    }
}

.summary .col-2 {
    padding: 0;
}

.summary .col-10 {
    padding: 0;
}

.row {
    margin: 0;
}

.title b {
    font-size: 1.5rem;
}

.main {
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}

.col-2,
.col {
    padding: 0 1vh;
}

a {
    padding: 0 1vh;
}

.close {
    margin-left: auto;
    font-size: 0.7rem;
}
.title{
    color: #EE7214;
}

img {
    width: 3.5rem;
}

.back-to-shop {
    margin-top: 4.5rem;
    cursor: pointer;
}
.back-to-shop:hover{
    color: #EE7214;
}

h5 {
    margin-top: 4vh;
}

hr {
    margin-top: 1.25rem;
}

form {
    padding: 2vh 0;
}

select {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

input,:host ::ng-deep .input  {
    
    padding: 1vh;
    margin-bottom: 2vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}


input:focus::-webkit-input-placeholder {
    color: transparent;
}

.btn {
    background-color: var(--orange-600);
    color: white;
    width: 100%;
    font-size: 1rem;
    margin-top: 3vh;
    padding: 1vh;
    border-radius: 0;
}
.btn:hover{
    background-color: var(--orange-700);
}
.name{
    color: #EE7214;
    font-size: 1.2em;
}
.subtotal{
    font-size: 1em;
}
.subtotal span, .price{
    color: green;
}
.btn:focus {
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none;
}

.btn:hover {
    color: white;
}

a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}

label{
    color: #EE7214;
}
.back-to-cart {
    cursor: pointer;
}

.back-to-cart:hover {
    color: #EE7214;
}
.card{
    margin-bottom: 4em;
}

.loading-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
    height: 10%;
    z-index: 9999;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid lightsalmon;
    border-right-color: var(--orange-600);
    animation: l2 1s infinite linear;
}

@keyframes l2 {
    to {
        transform: rotate(1turn)
    }
}