<p-toast></p-toast>
<div class="card mt-5" *ngIf="!loading">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4 class="title"><b>Shopping Cart</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted">
                        <h4 class="title"><b>{{cartCount}}</b></h4>
                    </div>
                </div>
            </div>
            <div class="row border-top border-bottom">
                <div *ngFor="let cartItem of cartWithProduct" class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" [src]="cartItem.image"></div>
                    <div class="col">
                        <div class="row name">{{cartItem.name}}</div>
                        <div class="row price">{{cartItem.price | currency:'EUR':'symbol'}}</div>
                    </div>
                    <div class="col">
                        <p-inputNumber (onInput)="changeQuantity($event, cartItem)" styleClass="input-styling"
                            [(ngModel)]="cartItem.quantit" mode="decimal" [showButtons]="true" inputId="quantity"
                            [min]="1" [max]='cartItem.stock' currency="EUR">
                        </p-inputNumber>
                    </div>
                    <div class="col su btotal">Subtotal:
                        <span>{{cartItem.price * cartItem.quantit | currency:'EUR':'symbol'}}</span>
                    </div>
                    <div class="col ">
                        <p-button (onClick)="deleteItem(cartItem)" icon="pi pi-times" [rounded]="true" [text]="true"
                            severity="danger">
                        </p-button>
                    </div>
                </div>
            </div>
            <div routerLink="/products" class="back-to-shop"><a>&leftarrow;Back to shop</a></div>
        </div>
        <div class="col-md-4 summary">
            <div>
                <h3><b>Summary</b></h3>
            </div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">ITEMS {{cartCount}}</div>
            </div>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right"> {{totalPrices | currency:'EUR':'symbol'}} </div>
            </div>
            <button routerLink="/checkout" [disabled]="cartWithProduct.length === 0" class="btn">CHECKOUT</button>
        </div>
    </div>
</div>
<div class="loading-overlay" *ngIf="loading">
    <!-- <div class="loading-text">
        Loading...
    </div> -->
    <div class="loader"></div>
</div>

