<p-toast></p-toast>
<div class="container mt-5">
    <div *ngIf="product" class="row gx-5">
        <div class="col-md-6">
            <div class="image-container">
                <img [src]="selectedImg" style="max-height: 400px;" class="img-fluid mb-4 big-image" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="title orangeTitle">
                <h1><b><em>{{product?.name}}</em></b></h1>
            </div>
            <div class="price">
                <h2>{{product?.price | currency:'EUR':'symbol'}}</h2>
            </div>
            <div class="product-quantity">
                <div class="field">
                    <label for="quantity">Quantity</label><br>
                    <p-inputNumber [(ngModel)]="quantity" mode="decimal" [showButtons]="true" inputId="quantity"
                        [min]="1" [max]="100">
                    </p-inputNumber>
                </div>
            </div>

            <div class="product-actions">
                <button pButton pRipple type="button" label="Add to Cart" class="rounded button"
                    (click)="addProductToCart()"></button>
            </div>

            <hr>

            <div class="description">
                <p>{{product?.description}}</p>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3" *ngFor="let img of product.Images">
                        <div class="image-container">
                            <img [src]="img.url" class="img-fluid mb-4 additional-image cursor-pointer" alt=""
                                (mouseover)="selectImg(img)" (mouseleave)="selectedImg = product?.image"
                                [class.active]="isActive(img)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-review-details [id]="id"></app-review-details>
    <br><br>
    <div class="container mt-5 mb-5">
        <h1 class="mb-4 orange">Suggested Products</h1>
        <div class="row">
            <ng-container *ngFor="let suggested of suggestedProducts">
                <div class="col-md-3 gy-3" *ngIf="suggested.id !== product.id">
                    <app-product-item [product]="suggested"></app-product-item>
                </div>
            </ng-container>
        </div>
    </div>

</div>