<nav class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/products">
            <img src="assets/logo.png" alt="Budi shop" style="width: auto; height: 70px; ">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/products">Products</a>
                </li>
                <li *ngIf="isAdmin" class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/dashboard/products">Dashboard</a>
                </li>
            </ul>
            <div class="d-flex align-items-center">
                <input type="search" class="form-control"  (input)="setName()" [(ngModel)]="name" placeholder="Search" aria-label="Search">
                <!-- Button -->
                <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
                <i [routerLink]="'cart'" routerLinkActive="activeIcon" class="pi pi-shopping-cart mr-2 ml-2" severity="danger" pBadge
                    value={{cartCount}}></i>
                <div class="dropdown">
                    <a class="nav-link" routerLinkActive="activeIcon" role="button" id="userDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="pi pi-user mr-2 dropdown-toggle"  [class.activeIcon]="isProfileActive || isOrderHistoryActive"></i>
                    </a>
                    <ul class="dropdown-menu " aria-labelledby="userDropdown">
                        <li><a class="dropdown-item" routerLinkActive="activeIcon" [routerLink]="'profile'">Profile</a>
                        </li>
                        <li><a class="dropdown-item" routerLinkActive="activeIcon" [routerLink]="'order-history'">Order
                                History</a>
                        </li>
                        <a class="dropdown-item" (click)="logOut()" style="cursor: pointer;">Sign out</a>
                        <li></li>
                    </ul>
                </div>
               

            </div>
        </div>
    </div>
</nav>