.nav-item, .pi, .signout{
    cursor: pointer;
    font-size: 1.4rem;    
}

.pi:hover, .signout:hover{
    color: var(--orange-600) !important
}

 a , .signout{
    text-decoration: none;
    padding: 0.5em;
    color: var(--green-700) !important
}
.active, .nav-item a:hover {
    background-color: var(--orange-600);
    color: white !important ;
}
.activeIcon{
    color: var(--orange-500);
}