.font{
    font-family: Arial, Helvetica, sans-serif;
}
.product-image {
    max-width: 100%;
    border-radius: 5px;
}

.product-details {
    padding: 10px;
}

.product-name {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.product-quantity {
    color: #666;
}


.order-details {
    padding: 10px;
}

.order-details p {
    margin-bottom: 5px;
}

.user-details, .order-details, .product-details {
    padding: 10px;
    font-family: sans-serif
}

.cancel-button {
    background-color: #dc3545 !important;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: #c82333;
}

.address-details-card, .order-details-card,.user-details-card, .order-items-card {
    color: var(--orange-600) !important;

}

.price {
    color: green !important;
    font-size: 1.1em;
    font-weight: bold;
    font-family: sans-serif;
}

.card{
    padding: 10px 10px 0px 10px;
    border: 0;
}
.quantity{
    font-size: 1em;
    font-weight: bold;
}

.btn {
    background-color: var(--orange-600);
    color: white;
    width: 100%;
    font-size: 1rem;
    margin-top: 3vh;
    padding: 1vh;
    border-radius: 0;
    border: none;
}